/* 
        body{
            background-color: blue;
        } */

    
        #first{
            background-color: aqua;
        }
        #second{
            background-color: blueviolet;

        }
        .red{
            background-color: blue;
        }
    